
.d-block {
    max-width: 350px;
    max-height: 200px;
    width: auto; 
    height: auto;
    border-radius: 20px;
  }  

  .carousel-item img {
    width: 400px;
    height: 300px;
    margin: 0 auto; 
  }
  
  
  
  