.Box1 {
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .bx1{
    
   
  }
  
  .cd1 {
    margin-bottom: 20px;
    color: white;
  }
  .ImgSkills{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    margin: 40px; 
    
  }
  
  
  
  
  
  
  